.sql-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sql-editor__data {
  width: 100%;
  flex: 1;
}

.sql-editor textarea {
  width: 100%;
  min-height: 5em;
  padding: 8px;
  font-family: monospace;
  resize: vertical;
}