.sql-editor {
  height: 100vh
}

.sql-editor__data {
  width: 100%;
  margin-top: 6px;
  padding-bottom: 5px;
}

.sql-editor textarea {
  width: 100%;
  min-height: 5em;
  padding: 8px;
  font-family: monospace;
  resize: vertical;
}

.sql-editor .number {
  background-color: transparent;
  border-radius: inherit;
  display: inline;
  font-size: inherit;
  height: inherit;
  margin-right: inherit;
  min-width: inherit;
  padding: 0;
  text-align: inherit;
  vertical-align: inherit;
}

.sql-editor .ag-ltr .ag-cell {
  line-height: 25px;
}

.sql-editor__resize-handle {
  height: 6px;
  cursor: ns-resize;
}

.sql-editor__resize-handle-inner {
  height: 6px;
}

.sql-editor .ag-root-wrapper {
  border: none;
}

.sql-editor__error {
 position: absolute; 
 bottom: 0;
}
