@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css);

.wrap {
  display: flex;
  padding: 5px;
}

.wrap,
.favorites,
.sidebar {
  height: calc(100vh - 3.25rem); /* (100vh - header) */
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.favorites {
  width: 200px;
}

.sidebar {
  width: 200px;
  background-color: white;
  z-index: 10;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  cursor: pointer;
}

.tables-list-menu {
  height: 100%;
  overflow-y: auto;
}
