.connection-view {
  display: flex;
}

.connection-view__editor {
  display: flex;
  flex: 1;
}

.connection-view__tables {
  width: 200px;
  height: calc(100vh - 3.25rem); /* (100vh - header) */
  overflow-y: auto;
  background-color: white;
  z-index: 10;
}
